.appContainerCadastro {
    height: 100%;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url(../assets/Background.jpg);
    background-size: cover;
    /* align-content: center; */
    justify-content: center;
    /* align-self: center; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;  */
    /* text-align: center;  */
    /* scale: flex;  */
}

.cardContainerCadastro{
    height: 80%;
    width: 25%;
    background-color: rgb(30, 30, 30);
    align-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tituloCadastro {
    width: 75%;
    margin-bottom: 25px;
}

.cadastrotxt {
    color: white;
    font: 2.25em sans-serif;
    text-decoration: double;
}

.inputsCadastro{
    height: 60%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.infoCadastro{
    text-align: left;
    margin-left: 10px;
}

.botaoCadastrar{
    height: 10%;
    width: 75%;
    background-color: #4CAF50;
}

.linkParaLogin{
    color: white;
    text-decoration: underline;
    margin-top: 25px;
    background-color: aliceblue;
}

.inputs{
    height: 3%;
    width: 75%;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
    outline: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} 
/* 
.cadastrar{
    height: 10%;
    width: 75%;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 19px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} */
/* 
.linkParaLogin{
    color: white;
} */