/* .container {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    background-color: #212121;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: black; 
}

.link {
    margin-top: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.Background{
    height: 100%;
    width: 100%;
}
background-image{
    width: 50%;
} */
.appContainer {
    height: 100%;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url(../assets/Background.jpg);
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardContainer {
    height: 500px;
    width: 350px;
    background-color: rgb(30, 30, 30);
    align-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logintxt{
    color: white;
    font: 2em sans-serif;
    margin-bottom: 25px;
    text-decoration: double;
}

.inputsLogin{
    height: 3%;
    width: 75%;
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    outline: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cadastrar{
    height: 10%;
    width: 75%;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 19px;
    margin: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.linkParaLogin{
    color: white;
}